.new-tweet {
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #eee;
  border-radius: 5px;
  border-style: groove;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  textarea {
    width: 100%;
    padding: 2%;
  }

  .counter {
    float: right;
  }

  h2 {
    border-bottom: solid;
    border-width: 1px;
  }
}

