
#tweets {
  position: relative;
  margin-top: 10%;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 5px;
  border-style: groove;
  position: relative;
}

#tweets header {
  background-color: #eee;
  padding: 2%;
  overflow: auto;
}

#tweets header img {
  width: 80px;
  float: left;
  margin-right: 2%;
}

#tweets header p {
  float:left;
  line-height: 50%;
  font-weight: 700;
  font-size: 170%;
}

#tweets header .handle {
  padding-top: 10px;
  float: right;
  line-height: 50%;
  font-size: 90%;
  font-weight: 400;
}

#tweets div {
  clear: both;
}

#tweets footer {
  clear: both;
  border-top: solid;
  border-width: 1px;
  font-size: 80%;
}

.opaque {
  opacity: 0.7;
}